{% extends 'layout.html' %}
{% block content %}
    <h1 class="extra-top-padding extra-bottom-padding">Appointments</h1>
    <button id="modalBtn" type="button" class="btn btn-primary extra-bottom-margin">Book Appointment</button>
    <button id="registerModal" type="button" class="btn btn-info extra-bottom-margin">Register Patient</button>
    <span class="extra-bottom-margin">Change Patient:</span>
    <!-- Select a patient from the combobox -->
    {{form.patient}}
    <!-- Select a doctor from the combooox-->&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="extra-bottom-margin">Change Doctor:</span>
    {{form.doctor}}
    <h3 class="extra-top-padding extra-bottom-padding">Patient Appointments</h3>
    <!-- Display all appointments based on the patient selected -->
    <div>
        <table id="table" class="table table-hover table-spacing">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Type</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Doctor</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
   </div>
   <br/>
   <hr/>
   <br/>
   <!--FullCalendar UI-->
   <div id='calendar'></div><br/><br/>
   <!--Google Pie Chart-->
   <center><div id="chart_div"></div></center>
   <!-- Modal for registering a patient -->
   <div class="modal2">
    <div class="modal-content" id="register-modal">
        <div class="modal-header primary">
            <h2>Register a Patient</h2>
            <span id="closeBtnReg" class="closeBtn">&times;</span>
        </div>
        <div class="modal-body">
            <form method="post">
                {{ form.csrf }}
                <input type="hidden" name="reg_patient"/>
                <div>
                    <table class="table">
                        <tbody>
                            <tr><td>{{ reg_form.first_name.label }}</td><td>{{ reg_form.first_name }}</td></tr>
                            <tr><td>{{ reg_form.last_name.label }}</td><td>{{ reg_form.last_name }}</td></tr>
                            <tr><td>{{ reg_form.email.label }}</td><td>{{ reg_form.email }}</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn-primary btn extra-bottom-margin submitBtn"/>
                </div>
            </form>           
        </div>
    </div>
   </div>

    <!-- Modal for booking appointments based on patient -->
    <div class="modal">
        <div class="modal-content" id="patient-modal">
           <div class="modal-header primary">
               <h2>Book an Appointment</h2>
               <span id="closeBtn" class="closeBtn">&times;</span>
           </div>
            <div class="modal-body">
                <form method="post">
                    {{ form.csrf }}
                    <input type="hidden" name="book_appmt"/>
                    <div>
                        <table class="table"> 
                        <tbody>
                            <tr><td>Appointment Year</td> <td>{{ form.year }}</td></tr>
                            <tr><td>Appointment Month</td> <td>{{ form.month }}</td></tr>
                            <tr><td>Appointment Date</td> <td>{{ form.day }}</td></tr>
                            <tr><td>Appointment Slot</td> <td>{{ form.slot }}</td></tr>
                        </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input id="pat_id" type="hidden" name="pat_id" value="">
                        <input id="doctor_id" type="hidden" name="doctor_id" value="">
                        <input type="submit" value="Submit" class="btn-primary btn extra-bottom-margin submitBtn"/>
                    </div>
                </form>           
            </div>
        </div>     
    </div>
{% endblock content %}

