<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Minty theme from https://bootswatch.com/minty/ -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/minty/bootstrap.min.css">
        <!-- Custom stylesheet -->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='styles/css/custom.css') }}">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
        <!-- Full Calendar Styles and JS -->
        <link href="{{ url_for('static',filename='styles/css/fullcalendar.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='styles/css/fullcalendar.print.min.css') }}" rel="stylesheet" media="print"/>
        <script src="{{ url_for('static',filename='js/moment.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/fullcalendar.min.js') }}"></script>
        <!-- Custom JS -->
        <script src="{{ url_for('static',filename='js/index.js') }}"></script>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand text-large extra-top-padding" href="#">Smart Office</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse text-large" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            </ul>
        </div>
        </nav>
    </head>   
    <body>
        <div class="wrapper">
            {% block content %}{% endblock content %}
        </div> 

        <script type="text/javascript" src="{{ url_for('static',filename='styles/js/style.js') }}"></script>
    </body>

</html>
