{% extends 'layout.html' %}

{% block content %}
    <h1 class="extra-top-padding extra-bottom-padding">Appointments</h1>

    <button id="modalBtn" type="button" class="btn btn-primary extra-bottom-margin">Create New</button>
    <div id="modal" class="modal">
        <div class="modal-content">
           <div class="modal-header primary">
               <h2>Book an Appointment</h2>
               <span class=closeBtn>&times;</span>
           </div>
            <div class="modal-body">
                <p>dosadasdsa  asd adsd asdsa  asd asd asdth ff fghgfhg</p>
            </div>
           
            <div class="modal-footer">
                <button class="btn-primary btn extra-bottom-margin submitBtn">Book</button>
            </div>
        </div>     
    </div>
  
{% endblock content %}
